<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ appTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-button block="true" full="true"> <ion-icon name="play-circle"></ion-icon> New Game </ion-button>
<ion-button block="true" full="true"><i class="material-icons left">settings</i> Course Settings</ion-button>
<ion-button block="true" full="true"><i class="material-icons left">face</i> Player Settings</ion-button>
<ion-button block="true" full="true"> <i class="material-icons left">build</i> Settings</ion-button>
<ion-button block="true" full="true"><i class="material-icons left">trending_up</i> Hall Of Fame</ion-button>
