<div class="app-logo">
  <h1>{{ appTitle }}</h1>
</div>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button
        block="true"
        size="large"
        full="true"
        color="success"
        (click)="navigateToNewGame()"
      >
        <ion-icon name="play-circle"></ion-icon>
        New Game
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button block="true" size="large" full="true" disabled="true">
        <ion-icon name="compass"></ion-icon>
        Course Settings
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button block="true" size="large" full="true" disabled="true">
        <ion-icon name="person"></ion-icon>
        Player Settings
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
        block="true"
        size="large"
        full="true"
        (click)="navigateToSettings()"
      >
        <ion-icon name="settings"></ion-icon>
        Settings
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
        block="true"
        size="large"
        full="true"
        (click)="navigateToHallOfFame()"
      >
        <ion-icon name="trending-up"></ion-icon>
        Hall Of Fame
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
